html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
body {
    font-size: 20px;
    line-height: 1.4;
    background-color: #ccd5ae;
    font-family: "Source Sans 3", serif; 
    
}
h1 {
    font-size: 48px;
    text-align: center;
    font-family: "Playfair Display", serif;
    line-height: 1.2; 
}

h2 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    line-height: 1.2; 
}

h3 {
    font-size: 24px;
    color: #d4a373;
    font-family: "Playfair Display", serif;
    line-height: 1.2; 
    margin-top: 48px;
}

h4 {
    color: #d4a373;
    font-family: "Source Sans 3", serif;
    text-align: center;
    line-height: 1.2; 
}

article {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 30px 50px;
    border-radius: 12px;
}
.uvod p {
    font-size: 24px;
    color: #808080;  
}
.uvod-foto {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.krumlov-foto {
    width: 250px;
    height: 180px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: auto;
    border-radius: 8px;
}

.hluboka-foto {
    width: 320px;
    height: 240px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
    border-radius: 8px;
}

.sumava-foto {
    border-radius: 8px;
    width: 100% auto;
}

.clear {
    clear: both;
}

/*
<weight>: Use a value from 400 to 900
<uniquifier>: Use a unique and descriptive class name
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

<weight>: Use a value from 200 to 900
<uniquifier>: Use a unique and descriptive class name
.source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
